header.header
    div.header__content.container
        .header__logo
            a(href="/")
                img.header__img(src="/img/logo.png", alt="Dreamville logo")
        nav.nav.nav--properties
            a.nav__el(href='#') Buy
            a.nav__el(href='#') Sell
            a.nav__el(href='#') Rent
            a.nav__el(href='#') ShortLet
            if (user)
                if (user.role === 'agent' || user.role === 'admin')
                    a(href="/property/new").btn.nav__el.nav__btn.nav__btn--cta Post A Property
                        span Free
                a.nav__btn.btn.nav__btn--logout Logout
                a.bookmarks__link(href="/bookmarks")
                    span Bookmarks
                    span(class="bookmarks material-symbols-sharp") bookmarks
            else
                a.btn.nav__el.nav__btn(href='/login') Login
                a.btn.nav__el.nav__btn.nav__btn--cta(href='/signup') Sign Up
            nav.nav.nav--user
                if user
                    a.nav__el(href='/me')
                        img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name}`)
                        span= user.name.split(' ')[0]
            