header.header
    .container
        div.header_content
            .header__logo
                img(src="https://www.propertypro.ng/assets/assets/img/home/15b021aacebfb607b0032708293cb00f-logo.svg")
            nav.nav.nav--properties
                a.nav__el(href='#') Post A Property
            nav.nav.nav--user
                a.nav__el(href='#') Log in
                a.nav__el.nav__el--cta(href='#') Sign Up