extends base

block content 
    .blog-post
        if blog.coverImage
            img(src=blog.coverImage, alt='Blog Cover Image')
        h1.blog-post__title= blog.title
        .blog-post__content= blog.content
        
        if blog.tags && blog.tags.length > 0
            ul.blog-post__tags
                each tag in blog.tags
                    li.blog-post__tag= tag


        