$color__white-2: #f0f2f5;
$color__white: #ffffff;
$color__primary: #4080ff;
$color__secondary: #3f6ca6;
$color__tertiary: #d95284;
$color__dark: #65676b;

$border_radius_sm: 0.4rem;
$padding: 0 1.6rem;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  font-weight: 300;
  min-height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color__dark;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 128rem;
  padding: $padding;
}

.section__title {
  font-size: 2.4rem;
  line-height: 32px;
  margin: 4rem 0;
  text-align: center;
}

.btn {
  border: 1.6px solid rgba($color__secondary, 0.5);
  border-radius: $border_radius_sm;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header {
  background-color: $color__white;
  color: $color__dark;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0px 0.5px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem 1.6rem;

  &__content {
    display: flex;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    & > *:not(:first-child) {
      margin-left: 1.4rem;
    }

    &__btn {
      border: 1.6px solid rgba($color__secondary, 0.5);
      border-radius: $border_radius_sm;
      outline: none;
      padding: $padding;
      background-color: $color__white;
      color: inherit;
      font: inherit;
      cursor: pointer;

      &--cta {
        background-color: $color__primary;
        color: $color__white !important;
      }

      span {
        margin-left: 0.3rem;
        padding: 0.2rem;
        text-transform: uppercase;
        color: $color__tertiary;
      }

      &:first-of-type {
        margin-left: 15rem;
      }
    }
  }

  &__logo {
    width: 20rem;
    margin-right: auto;
  }
  &__img {
    width: 100%;
    display: block;
    height: auto;
  }
}

// OVERVIEW

.hero {
  font-weight: 700;
  position: relative;
  &__image {
    display: block;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__form {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    margin-bottom: 6.5rem;
  }

  h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: $color__white-2;
    line-height: 1.5;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  }

  p {
    text-align: center;
    font-size: 2rem;
    margin: 4px auto 32px;
    color: $color__white-2;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 3px;
  }

  &__input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 36px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
    padding-left: 16px;
    padding-right: 4px;
    max-width: 575px;
    margin: 0 auto;
  }

  &__input {
    border-radius: 36px;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    outline: none;
    border: none;
    padding: 0px 0px 0px 4px;

    &:focus {
      outline: none;
    }

    &-btn {
      border-radius: 50%;
      border: none;
      height: 48px;
      padding: 12px;
      width: 48px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: $color__primary;

      svg {
        fill: $color__white;
      }
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__btn {
    font-size: 1.4rem;
    color: $color__white-2 !important;
    text-transform: uppercase;
  }
}

.feature {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  &__card {
    max-width: calc(25% - 12px);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius: 1rem;

    &-img-box {
      position: relative;
      object-fit: cover;
      overflow: hidden;
      border-radius: 1rem 1rem 0 0;
    }

    &-img {
      width: 100%;
      height: 20rem;
      display: block;
    }

    &-detail {
      padding: 1.6rem;
    }

    &-detail-name {
      font-size: 1.8rem;
    }

    &-detail-location {
      font-size: 1.4rem;
      opacity: 0.5;
    }

    &-detail-price {
      font-size: 1.9rem;
      font-weight: bold;
      margin-bottom: 0.4rem;
      opacity: 0.8;
    }

    &-detail-company {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      &-item {
        height: 1.5rem;
      }
    }
  }
}

.service {
  text-align: center;
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 1.6rem;
    }
  }

  &__card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius: 1rem;

    &-text {
      padding: 1rem 1.6rem;
      h3 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  &__btn {
    margin-top: 3rem;
    padding: 1rem 1.6rem;
  }
}

.blog {
  margin-bottom: 4rem;
  &__card {
    display: block;
    max-width: calc(25% - 16px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;

    &-img-box {
      object-fit: cover;
      position: relative;
      border-radius: 1rem 1rem 0 0;
    }

    &-img {
      width: 100%;
      height: 20rem;
      display: block;
      border-radius: 1rem 1rem 0 0;
    }
    &-detail {
      padding: 1rem 1.4rem;
    }

    &-heading {
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
    }

    &-text {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    &-btn {
      display: inline-block;
      padding: 1rem 1.4rem;
      margin-top: 1rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.footer {
  background-color: rgb(43, 43, 43);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 1.6rem;
    gap: 2rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  ul {
    text-decoration: none;
  }

  li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: $color__white !important;
  }
}

.property {
  display: flex;
  align-items: start;
  margin: 4rem auto;

  h2 {
    text-align: left !important;
    margin-bottom: 1.2rem;
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;

    .current-price {
      font-size: 2.4rem;
    }

    .prev-price {
      text-decoration: line-through;
    }
  }

  &__content {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    margin-right: 4rem;
  }

  &__name-box {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 1.6rem;
    box-shadow: 0px 0.5px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 2rem 3rem;
  }

  &__img-box {
    width: 70rem;
    height: 70rem;
    margin: 0 auto;
  }

  &__img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  &__images-box {
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 1.6rem;

    & > *:not(:last-child) {
      margin-right: 0.6rem;
    }
  }

  &__images-container {
    display: flex;
    justify-content: center;
  }

  &__images {
    width: 12rem;
    min-width: 12rem;
    position: relative;
  }

  &__images-item {
    object-fit: cover;
    width: 100%;
  }

  &__amenities {
    &-list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      align-items: center;

      &-item {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        text-transform: capitalize;
      }
    }
  }
  &__description {
    &-text {
      font-size: 1.6rem;
    }
  }

  &__side {
    flex: 1;
    box-shadow: 0px 0.5px 5px 0 rgba(0, 0, 0, 0.3);
    padding: 2rem;
    font-size: 1.6rem;
  }

  &__agent-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__agent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
      font-weight: bold;
    }
  }

  &__img-delete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.blogs {
  margin: 4rem auto;
  .blogs__content {
    display: flex;
    max-width: 45%;
  }
}

.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.btn--login {
  padding: 1rem 2rem;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.new-property {
  max-width: 100rem;
  margin: 4rem auto;
}

.form__flex {
  display: flex;
  align-items: center;
  justify-content: center;

  &-mb {
    margin-bottom: 2rem;
  }
  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }

  label {
    font-size: 1.4rem;
  }
}

.form__group {
  input[type="checkbox"] {
    transform: scale(1.4);
  }
}

.amenities {
  & > * {
    margin-bottom: 1.4rem;
  }
}
.tags__field-box {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #f2f2f2;
}

.tags__field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-decoration: none;
  list-style: none;

  & > * {
    margin-right: 0.4rem;
  }

  &-tag {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.4rem;
    border: 1.3px solid #00000f;
    border-radius: 0.5rem;

    .chec-tag {
      font-size: 1.2rem;
      font-weight: bold;

      &__dismiss {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        font-weight: bold;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        padding: 0.4rem;
        margin-left: 0.25rem;
      }
    }
  }
}

.tags__field-item {
  flex: 1;
  min-width: 200px;
}

.cur__prop-imageCover {
  width: 100%;
}

input[type="file"] {
  color: transparent !important;
}
